{% extends 'mygis/base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque culpa dolor earum, excepturi illum inventore
        itaque iure labore necessitatibus officia praesentium quod quos unde? Ipsum laboriosam nemo numquam vero vitae?
    </div>
    <div>Animi atque consequuntur culpa deleniti dolor ex facere ipsum, itaque magnam minima minus natus numquam odio,
        odit officia, omnis optio pariatur quaerat reprehenderit repudiandae sit tenetur unde velit vitae voluptatem.
    </div>
    <div>Aperiam architecto blanditiis consectetur consequatur consequuntur deleniti dignissimos eos eveniet
        exercitationem facere hic, iste minima numquam optio quae quis quisquam rem repellendus sequi, sint tempore
        tenetur vel veritatis voluptate voluptates!
    </div>
{% endblock %}

